@font-face {
    font-family: "Pinyon Script";
    src: url("fonts/PinyonScript-Regular.ttf") format("truetype");
}

body {
    text-align: center;
    background-color: white;
}

h1 {
    font-size: 2.5em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: black;
    border-width: 0.05em;
}

h2 {
    width:fit-content;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2em;
    border-width: 0.05em;
}

h3 {
    text-decoration: underline;
}

.challenge-1, .challenge-2 {
    font-size: 2em;
}

.isbn-message {
    font-size: 1.25em;
}

.book-link {
    text-decoration: none;
    color: black;
}

.challenge-2-a, .challenge-2-b {
    font-size: 1.75em;
    font-family:"Pinyon Script";
}

.coin-face {
    width: 10vw;
    height: 10vw;
    padding: 0.25em;
}

.footer {

    margin-top: 2em;

}

.footer-links {
    text-decoration: none;
    color: black;
    width:fit-content;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em;
    border-width: 0.05em;
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.book-link:hover {
    text-decoration: underline;
    color: grey;
}

.footer-links:hover {
    text-decoration: none;
    color: white;
    width:fit-content;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em;
    border-width: 0.05em;
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: black;
}